<% i = 1 %>
<form action="/products" method="POST">
    <h4>Add New Product</h4>
    <% ["name", "sku", "description", "color", "company"].each do |field| %>
        <div class="row">
            <div class="col s12 input-field">
                <input type="text" name= <%= "product[#{field}]" %> id= <%="product_#{field}" %> >
                <label for=<%="product_#{field}" %>> <%= field.capitalize %> </label>
            </div>
        </div>
    <% end %>
    <div id="item_codes"></div>
    <button class="waves-effect waves-light btn" id="button_item_code" type="button">Add New Item Code</button>
    <button class="waves-effect waves-light btn" type="submit">Submit</button>
</form>


<script>
        const item_code_wrapper = document.getElementById("item_codes")
        document.getElementById("button_item_code").addEventListener("click", function(){
            console.log("hello world")
            var templ = document.getElementById("item_code_template").content
            var clone = templ.cloneNode(true)
            console.log(clone)
            item_code_wrapper.appendChild(clone)
        })
</script>

    <template id="item_code_template">
    <div class="row">
        <div class="col s12"><em >Item Code</em></div>
        <% fields = [{name: :name, label: "Code Name", type: "text"}, 
         {name: "length", label: "Character Length", type: "number"}, 
         {name: "description", label: "Description", type: "text"}, 
         {name: "required", label: "Require Code", type: "checkbox"}, 
         {name: "length_required", label: "Require Exact Character Length", type: "checkbox"}] %>

        <% fields.each do |field| %>
            <div class="input-field col s12">
                <% if field[:type] == "checkbox" %>
                    <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="product[item_codes][][<%= #{field[:name]}]%>" />
                        <span><%= field[:label] %></span>
                    </label>
                    </p>    
                <% else %>
                    <input type=<%= field[:type] %> name=<%= "product[item_codes][][#{field[:name]}]"%> id=<%= i.to_s %> >
                    <label for=<%= i.to_s %>> <%= field[:label] %> </label>
                <% end %>
            </div>
            <% i += 1 %>
        <% end %>
    </div>
</template>


